body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}

h1{
    font-size: 45px;

}
.colour{
    color: orange;
}
.uper-part{
    display: flex;
}
.change-width{
    width: 50%;
    padding: 5%;
}
.change-width img{
width: 83%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
}
.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
#abcd{
    text-align: center;
}
#efgh{
    text-align: center;
}
.lower-part{
    width: 30%;
    padding: 0%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 30px gray; 
}
.resize{
    width: 360px;
    padding: 5px;
}
footer{
    text-align: center;
    background-color: black;
}
.f-colour{
    color: white;
}