body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}

h1{
    font-size: 37px;

}
.colour{
    color: orange;
}
.uper-part{
    display: flex;
    margin-bottom: 150px;
    
}
.change-width{
    width: 50%;
    padding: 5%;
}
.change-width img{
width: 95%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
}
.middle-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
#abcd{
    text-align: center;
}
.efgh{
    text-align: center;
}

.lower-part{
    width: 21.5%;
    padding: 15px;

    border-radius: 10px;
    box-shadow: 10px 10px 30px gray;

    
}
#first-box{
    margin-left: 10%; 
    margin-right: 5%;
}
#second-box{
    margin-left: 0%;
    margin-right: 5%;
}
#third-box{
    margin-left: 0%;
    margin-right: 10%;
}
.resize{
    width: 274px;
    padding: 5px;
}
footer{
    text-align: center;
    background-color: black;
}
.f-colour{
    color: white;
}